/*General Styles*/
* {
    box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	position: relative;
	margin: 0;
	min-height: 100%;
}
.content {
	padding-bottom: 20px;
}
header {
	position: relative;
	height: 240px;
}
.title {
	bottom: 50px;
	left: 10%;
	position: absolute;
}
.titlebar {
	width: 100%;
	position: relative;
	position: fixed;
	top: 0px;
	background-color: white;
	z-index: 10;
}
.titlebarshadow {
	box-shadow: rgba(0, 0, 0, 0.24) -2px 5px 12px 0px, rgba(0, 0, 0, 0.12) 0px 0px 12px 0px;
}
.hidetitle {
	visibility: hidden;
}
.titlebarbuttons {
	display: inline-flex;
	position: absolute;
	right: 15px;
}
.titlebarbutton {
	display: inline-flex;
	height: 30px;
	padding: 20px;
}
.logobutton {
	display:inline-block;
	width: 50px;
	height: auto;
	padding-left: 2%;
	padding-top: 10px;
}
.pagetitle {
	display: inline-block;
	position: absolute;
	top: 0px;
	padding: 20px;
	height: 30px;
	padding-left: 40px;
}
.logo {
	height: auto;
	width: 50px;
}
footer {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	text-align: center;
}
i {
	padding-left: 10px;
	padding-right: 10px;
}
/*Home Page Styles*/
.grid {
	max-width: 1200px;
	margin: auto;
}
.row {
	width: 100%;
	height: auto;
}
.thumbnail {
	height: 100%;
	padding: 25px;
}
.thumbnailimage {
	width: 100%;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.24) -2px 5px 12px 0px, rgba(0, 0, 0, 0.12) 0px 0px 12px 0px;
}
/*About Page Styles*/
.profileimage {
	width: 70%;
  height: auto;
  border-radius: 600px;
  margin-left:50px;
}
/*Detail Page Styles*/
.image{
  width: 100%;
  height:100%;
}
.leftcol {
  padding-right: 10px;
}
.rightcol {
  padding-left: 10px;
}
.detail {
	padding: 70px;
	max-width: 1200px;
	margin: auto;
}
.videocontainer {
	position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.videocontainer iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.introtext {
	font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.011em;
}
@media only screen and (min-width: 768px) {
	.videocontainer {
  	padding-bottom: 30%;
	}
}




/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.border {
	border: solid 10px black;
}